.hero-background{
    background-image: url(./images/Mountains1.gif);
    height: 40vh;
    object-fit: contain;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-heading{
    width: 750px;
}

.aboutme-style > h2{
    margin-top: 2rem;
    color: #FFED51;
    text-align: center;
    text-decoration: underline;
}

#aboutme .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px; /* Adjust the gap between image and text */
    align-items: start; /* Align items vertically */
    width: 865px;
    margin: 0 265px;
}

.grid-container > img{
    width: 280px;
    height: 310px;
    object-fit: cover;
    border-radius: 3px;
}

#aboutme .grid-item1 {
    max-width: 100%; /* Ensure the image doesn't exceed the container */
}

.grid-item2 {
    display: flex;
    flex-direction: column;
}

#aboutme .btn{
    background-color: #FFEE4C;
    color: #000000;
    font-weight: 600;
    border-radius: 20px;
    width: 155px;
    height: 40px;
    align-self: baseline;
}

.skill-set-style > h2{
    margin-top: 5rem;
    color: #FFED51;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3rem;
}

#skill-set .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust column count as needed */
    gap: 20px; /* Adjust gap between grid items */
}

#skill-set .grid-item{
    height: 300px;
    width: 285px;
    border-radius: 5px;
    background-color: #345086;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.skill-icon {
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 4px;
    margin-top: 20px;
}

.skill-name{
    margin-top: 20px;
    color: #FFEE4C;
}

.projects-style > h2{
    margin-top: 5rem;
    color: #FFED51;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3rem;
}

#projects .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}